
{% extends "base.html" %}

{% block content %}

<h2 class="header-quick-stock">Quick Stock Check</h2>

<section class="quick-stock-container">

 
     {% for product in products  %}
     <section class="quick-stock-index">
        <p>{{ product.manufacturer_id.name }}</p>
        <p>{{ product.model }}</p>
        <p>{{ product.quantity }}</p>
        <p>Buy: £{{ product.buy_price }}</p>
        <p>Sell: £{{ product.sell_price }}</p>
  

         {% if product.quantity == 0 %}
               <aside class="warning">
                  <p>
                      Out of Stock, contact {{ product.manufacturer_id.name }} now!!!
                  </p>
              </aside>

              {% elif product.quantity <= 10 %}
              <aside class="early_warning">
                  <p>
                      Running out of Stock!!!, contact {{ product.manufacturer_id.name}}
                  </p>
              </aside>
              {% endif %}
            </section>
     {% endfor %} 
   
</section>


{% endblock content %}