body {
    background: linear-gradient(90deg, #ffffff 70%, #3685ec 30%);
    width: 100vw;
    max-width: 100vw;
    font-family: 'Ramabhadra', sans-serif;
}

.main_header {
    margin-right: 450px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;

}

  
.footer {
    margin-right: 450px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    height: 80px;
    font-size: small;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    position: sticky;

}

    .big_box{ 
        width:300px; 
        height:300px; 
    } 

    .box{ 
        flex-flow: row;
        width:200px; 
        height:200px; 
        z-index: -1;
    } 
    
    .light_blue{ 
        background:rgb(190, 218, 241); 
    } 
    .white{ 
        background:rgb(255, 255, 255); 
    } 
    .red{ 
        background:#f00; 
    } 
    .green{ 
        background:#0f0; 
    } 
    .blue{ 
        background:#00f; 
    } 

    #white_colour{
        color: white;
    }

    .early_warning{
        color: rgb(206, 103, 7);
    }

    .warning{
        color: rgb(206, 7, 7);
    }