body {
    background: linear-gradient(90deg, #ffffff 70%, #3685ec 30%);
    width: 100vw;
    max-width: 100vw;
    font-family: 'Ramabhadra', sans-serif;
}

.main_header {
    margin-right: 450px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;

}

  
.footer {
    margin-right: 450px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    height: 80px;
    font-size: small;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    position: sticky;

}

    .big_box{ 
        width:300px; 
        height:300px; 
    } 

    .box{ 
        flex-flow: row wrap;
        width:200px; 
        height:200px; 
        z-index: -1;
    } 
    
    .light_blue{ 
        background:rgb(190, 218, 241); 
    } 
    .white{ 
        background:rgb(255, 255, 255); 
    } 

    #white_colour{
        color: white;
    }

    .early_warning{
        color: rgb(206, 103, 7);
    }

    .warning{
        color: rgb(206, 7, 7);
    }

    .man_logo{
        display: flex;
        flex-flow: row wrap;
    }

    .quick-stock-index {
        border: 1px solid rgb(204, 204, 204);
        margin: 10px;
        padding: 10px;
        overflow-wrap: break-word;
        width: 25%;
        height: 25%;
    }

    .quick-stock-container {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        flex-wrap: row wrap;
        margin-right: 450px;
        margin-bottom: 70px;
    }
    .quick-stock-container-prod {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        flex-wrap: row wrap;
        margin-right: 150px;
        margin-bottom: 200px;
    }

    .quick-stock-index-prod {
        border: 1px solid rgb(204, 204, 204);
        margin: 10px;
        padding: 10px;
        overflow-wrap: break-word;
        width: 10%;
        height: 25%;
    }