{% extends "base.html" %}

{% block content %}

<h2>Manufacturers</h2>
    <img src="static/img/apple_logo.png" alt="Apple Logo" height="80" width="80">
    <img src="static/img/google_logo.png" alt="Google Logo" height="80" width="80">
    <img src="static/img/samsung_logo.png" alt="Samsung Logo" height="80" width="80">

 <section>
 {% for manufacturer in manufacturers %}


     <p>{{ manufacturer.name }}</p>
     <a href="/manufacturers/{{ manufacturer.id }}/edit">Edit</a>
     <form action="/manufacturers/{{ manufacturer.id }}/delete" method="POST">
         <input type="submit" value="Delete">
     </form>
</section>

{% endfor %}
{% endblock content %}